[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
httpie = "*"

[packages]
numpy = "*"
matplotlib = "*"
plotly = "*"
Flask = "*"

[requires]
python_version = "3.6"
