
#prompt {
	font-size:15pt;
	line-height: 2;
}

#textfield {
	background: rgb(72, 80, 91);
	font-size:20pt;
	width: 350px;
	font-family: Helvetica, sans-serif;
	color: white;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: bottom;
	margin: 0px 5px 5px 0px;
	box-shadow: rgb(94, 109, 128);
}

#prompt {
	text-shadow: 1px 1px 2px rgb(94, 109, 128);
	font-family: Arial, Helvetica, sans-serif;
}

#reset {
	 background: rgb(131, 206, 237);
         box-shadow: 2px 2px 5px rgb(94, 109, 128);
    	 width: 20%;
    	 height: 40px;
    	 padding: 4px 12px;
    	 margin: 8px 0;
		 box-sizing: border-box;
}

#submit {
	background: rgb(131, 206, 237);
	box-shadow: 2px 2px 5px rgb(94, 109, 128);
	width: 20%;
	height: 40px;
	padding: 4px 12px;
	margin: 8px 0;
	box-sizing: border-box;
}

#button {
    background-color: rgb(131, 206, 237);
	box-shadow: 2px 2px 5px rgb(94, 109, 128);
	color: black;
	padding-top: 18px;
	padding-bottom: 13px;
	padding-right: 20px;
	padding-left: 20px;
    text-align: center;
    display: inline-block;
	font-size: 20px;
	vertical-align: top;
	transition-duration: 0.4s;
}
#container{
	display: block;
	text-align: center;
	background-color: rgb(120, 136, 152);
	width: 30px;
	height: 800px;
	border: 1px solid rgb(94, 109, 128);
	box-shadow: 2px 2px 5px rgb(94, 109, 128);
}

input[type=button] {
           box-shadow: 2px 2px 5px rgb(94, 109, 128);
	   	   background: rgb(131, 206, 237);
    	   width: 8%;
           height: 50px;
           padding: 12px 15px;
           margin: 8px 0;
		   box-sizing: border-box;
		   color: black;
		   font-family: Arial, Helvetica, sans-serif;
}

input[type=reset] {
	   background: rgb(131, 206, 237);
           box-shadow: 2px 2px 5px rgb(94, 109, 128);
    	   width: 8%;
    	   height: 50px;
    	   padding: 12px 15px;
    	   margin: 8px 0;
		   box-sizing: border-box;
		   color: black;
	}
input[type=textfield] {
	background: rgb(72, 80, 91);
	font-size:20pt;
	width: 350px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-style: italic;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: bottom;
	margin: 0px 5px 5px 0px;
	box-shadow: rgb(94, 109, 128);
}

#graph {
	border: 0;
}

#equation {
	font-size:20pt;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	vertical-align: bottom;
	margin: 0px 5px 5px 0px;
}

button {
	font-family: Arial, Helvetica, sans-serif;
}
